<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <!--
        The title is customizable from page to page.-->
      <title>{% block title %}Rentize{% endblock %}</title>
      <!--
        Link the HTML to the stylesheets in the static folder.-->
      <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', path='table.css') }}">
      <!--
        Allow extra styling for each page. -->
      {% block extra_styles %}{% endblock %}
  </head>
  <body>
    <!--
      Navigation link to the homepage.-->
    <div class="logo_container">
        <a href="/joshua/">Rentize</a>
    </div>
    <!--
      Navigation link to the electricity page.-->
    <div class="nav_container">
        <a href="/joshua/electricity">Electricity</a>
    </div>
    <!--
      Block for user input. -->
    <div class="user_input_container">
        {% block generate %} {% endblock %}
    </div>

    <!-- Page-specific content goes here -->
    <div class="all_container">
        {% block content %}{% endblock %}
    </div>
    <!--  Section to select a sub-service.  -->
    <div class="service_select_container">
      {% block service_select %} {% endblock %}
    </div>
    <!--  Page-specific broken down services.  -->
    <div class="service_container">
        {% block service %} {% endblock %}
    </div>

    <div class="footer_container">
        <p>&copy; 2025 Rentize</p>
    </div>
    <!--
      Script for showing table interactivity. -->
    <script src="{{ url_for('static', path='table.js') }}"></script>
    <!--
      Allow for extra JS scripts. -->
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
